body {
background-image: url("./img/fundo_login.png");
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
font-family: "Georgia", serif;
}
.login-card {
background: rgba(255, 255, 255, 0.6);
backdrop-filter: blur(8px);
border: 2px solid #d8c8a5;
border-radius: 10px;
padding: 10px;
width: 350px;
text-align: center;
}
.login-card img {
width: 300px;
height: 350;
padding: 5px 20px 50px;
}
.login-title {
font-size: 28px;
color: #6b4b1c;
margin-bottom: 20px;
}
.btn-login {
background: #6b4b1c;
border: none;
}
.btn-login:hover {
background: #cfa344;
}
a {
color: #6b4b1c;

}

