  body {
    font-family: 'Poppins', sans-serif;
    background: #5a3a1b;
    color: #fff;
    margin: 0;
    padding: 0;
  }

  header {
    background: #3b2410;
    text-align: center;
    padding: 20px;
  }

  header h1 {
    font-size: 2.5rem;
    color: #f8d49b;
    text-shadow: 1px 1px 3px #000;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 40px;
  }

  /* MENU LATERAL */
  .menu {
    background: #704c29;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
  }

  .menu h2 {
    color: #f8d49b;
    text-align: center;
    margin-bottom: 15px;
  }

  .menu ul {
    list-style: none;
    padding: 0;
  }

  .menu li {
    background: #8b5e3c;
    padding: 10px;
    margin: 6px 0;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
  }

  .menu li:hover {
    background: #a06f4c;
    transform: scale(1.05);
  }

  /* parte da imagens */
.preview {
  position: relative;
  width: 1100px;       
  height: 710px;      
  color: #3b2410;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 14px rgba(0,0,0,0.55);
}

.preview::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("27a224ef-5a8d-4121-90bb-40badf5cc069.png") center/cover no-repeat;
  filter: brightness(0.6) blur(1px);
  z-index: 0;
}

.preview-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
}

.preview img {
  width: 1120px;      /* AUMENTADO */
  height: 600px;     /* AUMENTADO */
  object-fit: 5px;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.3);
}

.preview h3 {
  margin-bottom: 0px;
  font-size: 2.3rem;   /* AUMENTADO */
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

.price {
  font-size: 2.6rem;   /* AUMENTADO */
  font-weight: bold;
  color: #ffe9a0;
}